[Settings]
defplaylist = https://www.youtube.com/playlist?list=FLhJ4IOQrs63Y5_Rx5aqolZw
pathtonasdir = 
namedirlibrary = Library/YouTubeDownloads/
defaultvideodir = Library/YouTubeDownloads/Video/
defaultmp3dir = Library/YouTubeDownloads/Audio/

[Settings_DB_File]
path = res/item.dby
sep = #

[Settings_DB_SQLite]
none = None

[Downland_Settings]
defaultformatvideo = video/mp4
defaultformatmp3 = 320
checkbeforedownloading = 0

