[Settings]
defplaylist = https://www.youtube.com/playlist?list=FLhJ4IOQrs63Y5_Rx5aqolZw
pathtonasdir = 
namedirlibrary = res/YouTubeDownloads/
defaultvideodir = res/YouTubeDownloads/Video/
defaultmp3dir = res/YouTubeDownloads/MP3/

[Settings_DB_File]
path = res/item.dby
sep = #

[Settings_DB_SQLite]
none = None

[Downland_Settings]
defaultformatvideo = MP4
defaultformatmp3 = 320

